<div id="about">
    <div class="about-content animate-right">
        <h1 class="about-title"><span>About</span>Me</h1>
        <p class="about-text">
            <b>Hello, I’m Jérémy, I'm 22 !</b> And I'm a final-year computer engineer student at Polytech Lyon.
            Passionate by creativity, drawing, photography, and informatics, I would like to create and innovate in web
            development, especially in front-end development.</br>
            Apart from my studies, I am interested in other fields such as judo, magic, drawing and photography and I'm
            currently the designer at the Students bureau's association of my school. I am involved in all the missions
            that can be entrusted to me. I am motivated, interested, inventive, dynamic and  a very committed person in what I do.
        </p>
    </div>
</div>