<div id="competences" class="flex-center-center-wrap">
    <h1 class="competences-title"><span>My</span>Competences</h1>
    <div class="progress-bar" data-percent="80" data-duration="1000" data-text="Css"></div>
    <div class="progress-bar" data-percent="90" data-duration="1000" data-text="Html"></div>
    <div class="progress-bar" data-percent="65" data-duration="1000" data-text="JQuery"></div>
    <div class="progress-bar" data-percent="65" data-duration="1000" data-text="Php"></div>
    <div class="progress-bar" data-percent="60" data-duration="1000" data-text="Java"></div>
    <div class="progress-bar" data-percent="75" data-duration="1000" data-text="Symfony"></div>
    <div class="progress-bar" data-percent="70" data-duration="1000" data-text="J2EE"></div>
    <div class="progress-bar" data-percent="95" data-duration="1000" data-text="Photoshop"></div>
</div>
