<div id="experiences" class="flex-center-center-wrap">
    <h1 class="experiences-title"><span>My</span>Experiences</h1>
    <div id="line" class="flex-center-center-wrap">
        <div class="point flex-center-center-wrap" data-image="/images/mlc.png" data-title="MyLandLordClub" data-text="Stage de 5 mois chez BraytonGlobal ou j'ai développé un site web de crowdfunding immobilier développé sous le framwork Symfony. La partie front-end utilise les technologies suivantes : SASS, Bootstrap, font-awesome et twig"><i class="fa fa-home fa-2x"></i></div>
        <div class="point flex-center-center-wrap" data-image="/images/skillmatrix.png" data-title="SkillMatrix" data-text="Stage de 5 mois chez BraytonGlobal ou j'ai développé une Application de gestion pour les recrutement développé sous le framwork Symfony.  La partie front-end utilise les technologies suivantes : SASS, Bootstrap, font-awesome et twig"><i class="fa fa-id-card-o fa-2x"></i></div>
        <div class="point flex-center-center-wrap" data-image="/images/skillmatrix.png" data-title="DryerSimulator" data-text="Stage de 2 mois chez LambertIngenieurie ou j'ai développé un logiciel de simulation pour obtenir les bon reglage de séchoir sur des chaine de production"><i class="fa fa-thermometer-2 fa-2x"></i></div>
    </div>
    <div id="experience-text" class="flex-center-center-wrap">

    </div>
</div>