<div id="experiences" class="flex-center-center-wrap">
    <h1 class="experiences-title"><span>My</span>Experiences</h1>
    <div id="line" class="flex-center-center-wrap">
        <div class="point flex-center-center-wrap" data-image="images/mlc.png" data-title="MyLandLordClub" data-date="(sept 2016 - jan 2017)"
             data-text="
             A five months internship at BraytonGlobal where I could develop a flat crowdfunding web site with the
             Framework Symfony3. To develop the front end part, I used technologies like : SASS, Bootstrap, font-awesome,
             twig, JQuery...">
            <i class="fa fa-home fa-2x"></i>
        </div>

        <div class="point flex-center-center-wrap" data-image="images/skillmatrix.png" data-title="SkillMatrix"  data-date="(sept 2016 - jan 2017)"
             data-text="
             A five months internship at BraytonGlobal where I could develop a hiring web application with the Framework
             Symfony3. To develop the front end part, I used technologies like : SASS, Bootstrap, font-awesome, twig,
             JQuery...">
            <i class="fa fa-id-card-o fa-2x"></i>
        </div>

        <div class="point flex-center-center-wrap" data-image="images/jelly.ico" data-title="DryerSimulator"  data-date="(june 2015 - aug 2015)"
             data-text="A two months internship at Lambert Ingenierie where I could develop a simulation software to get
             the right settings of dryers on production lines. To develop this application I used JavaFX technology.
             ">
            <i class="fa fa-thermometer-2 fa-2x"></i>
        </div>
    </div>
    <div id="experience-text" class="flex-center-center-wrap">

    </div>
</div>