<div id="more">
    <h1 class="more-title"><span>More</span>Informations</h1>
    <div class="footer">
        <div class="email-icon flex-center-center">
            <i class="fa fa-envelope-o fa-2x"></i>
            jeremy.dolle34@gmail.com
        </div>
        <div class="right-icon">
            <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-doll%C3%A9-24213b115/"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://github.com/JeremyDolle"><i class="fa fa-github-square fa-2x"></i></a>
        </div>
    </div>
</div>